<a href="https://colab.research.google.com/github/Sneha243/add/blob/module1/module1probs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###write a program to print prime numbers in given range by using function  def prime(a,b).

In [ ]:
def prime():
  a=int(input())
  b=int(input())
  for i in range(a,b+1):
    if i>1:
      for j in range(2,i):
        if(i%j==0):
          break
      else:
        print(i,end=" ")
prime();

1
30
2 3 5 7 11 13 17 19 23 29

###2. WAP to read any month in integer and display days for that month

In [ ]:
a=int(input())
if(a==1):
  print("january")
elif(a==2):
  print("Feb")
elif(a==3):
  print("mar")
elif(a==4):
  print("apr")
elif(a==5):
  print("may")
elif(a==6):
  print("june")
elif(a==7):
  print("july")
elif(a==8):
  print("aug")
elif(a==9):
  print("september")
elif(a==10):
  print("oct")
elif(a==11):
  print("nov")
elif(a==2):
  print("dec")
else:
  print('invalid month')

###wap to print even length words in a string

In [ ]:
a=str(input())
b=a.split(' ')
for i in b:
  if(len(i)%2==0):
    print(i)

i am an girl
am
an
girl

### wAP to capitalize the first and last letter in the word.

In [ ]:
a="sneha"
b=a.capitalize()
print(b)

Sneha

###wap to read a string from user display 1st character of each word with a capital letter.

In [ ]:
a="i am sneha"
b=a.title()
print(b)

I Am Sneha

###wAP TO CONVERT A LIST OF MULTIPLE INTEGERS INTO SINGLE INTEGERS.

In [ ]:
a=[1,2,3]
r=0
for i in a:
  r

###wap to find power of number with recurtion without recurtion...n=2 p=3.

In [ ]:
def pow(n,p):
  if p==0:
      return 1
  else:
    return (n*pow(n,p-1))

n=int(input())
p=int(input())
print(pow(n,p))

2
3
8

###wap to sort tuples by total digits input: list=[(3,4,6,723],(1,2),[134,234,34)].

In [ ]:
list=[(3,4,6,723),(1,2),(134,234,34)]
list.sort()
print(list)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

###take 5 subjects marks from user and display the grade of the student

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
t=(a+b+c+d+e)/5
if(t<=100 and t>=90):
  print("A grade")
elif(t<=89and t>=80):
  print("B grade")
elif(t<=79and t>=70):
  print("C grade")
elif(t<=54and t>=45):
  print("D grade")
else:
  print("FAIL")

98
87
45
98
23
C grade

###wap that prints 1 if all the 3 given numbers are in acending order otherwise print 0

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if(a<b and b<c):
  print("1")
else:
  print("0")

12
34
67
1

###check given number is perfect num or not.

In [ ]:
a=int(input())
s=0
for i in range(1,(a//2+1)):
  if a%i==0:
    s=s+i
    
if(s==n):
  print("perfect number")
else:
  print("not an perfect number")

6
not an perfect number

###check given string is palindrome or not."malayalam".

In [ ]:
a=input("enter a word ")
b=a[::-1]
if a==b:
  print("it's a plaindrome")
else :
  print("it's not a palindrome")

enter a word "malayalam"
it's a plaindrome

###find gcd of 2 numbers with and without recursion.input=5,3 output-1

In [ ]:
def gcd(a,b):
  hcf=1
  for i in range (1,b+1):
    if (a%i==0)and (b%i==0):
      hcf=hcf*i
  return hcf
a=int(input())
b=int(input())
print(gcd(a,b))

5
3
1

###print sum of even digits in a given numbers.input=1234,output=6.

In [ ]:
a=int(input())
s=0
for i in range (a):
  r=a%10
  if r%2==0 :
    s+=r
  a=a//10
print(s)

1235767
8

###wap the sum of squares of digits of a number given by user.input=123,output=14.

In [ ]:
a=int(input("Enter a number "))
s=0
for i in range (a):
  r=a%10
  r=r*r
  s+=r
  a=a//10
print(s)

Enter a number 123
14

###given an integer n,return a list containing 1223334444 and n repeted n times. and u can assume n is 0 or grater.

In [ ]:
n=int(input("enter your number :"))
a=[]
for i in range (n+1):
  for j in range (i):
    a.append(i)
print(a)

enter your number :4
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

###print no.of vowel and consonents of given string.

In [ ]:
a=input("Enter a word ")
a=a.lower()
c=0
v=0
if a.isalpha() :
  for i in range (len(a)):
    if a[i]=="a" or a[i]=="e" or a[i]=="i" or a[i]=="o" or a[i]=="u" :
      v+=1
    else :
      c+=1
  print(f"vowels are {v} and consonants are {c}")
else :
  print("Not possible")

###given 2 integers a and b.if a<b print all numbers between a and b in acending order or in decending order.

In [ ]:
a= int(input("enter a :"))
b= int(input("enter b :"))
if a < b :
  for i in range (a,b+1):
    print(i,end = " ")
if a > b :
  while a>=b :
    print(a, end = " ")
    a-=1

###max of 3 numbers.

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if(a>b and a>c):
  print(a)
elif(b>a and b>c):
  print(b)
else:
  print(c)

3
8
2
8

###fibnocci series.

In [ ]:
n=int(input())
a,b= 0, 1
print(a,b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

8
0 1
1
2
3
5
8
13

###wap to count the number of strings where the string len is 2 or more and the first and last char are same from given list.

In [ ]:
a=input("Enter a word ")
if a[0]==a[-1]:
  print("Yes")
else :
  print("No")

Enter a word "snehs"
Yes

###there is walking tract 3km. take input no.of days,no.of rounds trips and total distance in hours and m if the distance <40000"u need to work more  else "u done a great job.

In [ ]:
a=int(input("Enter days "))
b=int(input("Enter round trips/day "))
c=a*b*6000
if c>= 40000 :
  print("Good job")
else :
  print("Need to walk more")

Enter days 30
Enter round trips/day 30
Good job

###given a list of city names whoose length is greater than a given length.

In [ ]:
l=int(input("Enter length to be exceeded "))
u=[]
for i in range(int(input("Enter no. of cities "))):
  c=input(f"Enter name of city no.{i+1} ")
a=len(c)
if a>l:
  u.append(c)
print(f"required cities are {u}")

Enter length to be exceeded 4
Enter no. of cities 3
Enter name of city no.1 goa
Enter name of city no.2 bihar
Enter name of city no.3 mumbai
required cities are ['mumbai']